### AmazonBooks dataset

# amazon_books_x0 follows the setting in LightGCN 
amazonbooks_x0:
    data_root: ../data/AmazonBooks/
    data_format: csv
    train_data: ../data/AmazonBooks/amazonbooks_x0/train.csv
    valid_data: ../data/AmazonBooks/amazonbooks_x0/test.csv
    item_corpus: ../data/AmazonBooks/amazonbooks_x0/item_corpus.csv
    nrows: null
    data_block_size: -1
    min_categr_count: 1
    query_index: query_index
    corpus_index: corpus_index
    feature_cols:
        - {'name': 'query_index', 'active': True, 'dtype': int, 'type': 'index'}
        - {'name': 'corpus_index', 'active': True, 'dtype': int, 'type': 'index'}
        - {'name': 'user_id', 'active': True, 'dtype': str, 'type': 'categorical', 'source': 'user'}
        - {'name': 'item_id', 'active': True, 'dtype': str, 'type': 'categorical', 'source': 'item'}
    label_col: {name: label, dtype: float}